<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body>
    {% include 'navbar.html' %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">Expenses Recorded</th>
            <th scope="col">Total</th>
            <th scope="col">Notes</th>
            <th scope="col">Email Address</th>
          </tr>
        </thead>
        <tbody>
        {% for client in clients %}
          <tr>
            {% for item in client %}
            <td>{{ item }}</td>
            {% endfor %}    
          </tr> 
        {% endfor %}
        </tbody>
      </table>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

