<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img
        src="/static/logo.png"
        alt=""
        width="114"
        height="60"
        class="d-inline-block align-text-top"
      />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link {% if request.resolver_match.url_name == 'add' %}active{% endif %}" aria-current="page" href="/add/">Add</a>
          <a class="nav-link {% if request.resolver_match.url_name == 'expenses' %}active{% endif %}" href="/expenses/">Expenses</a>
          <a class="nav-link {% if request.resolver_match.url_name == 'help' %}active{% endif %}" href="/help/">Help</a>
        </div>
      </div>
    </div>
  </nav>
