<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
  <body>
    {% include 'navbar.html' %}
    <br />
    <form class="post-form" enctype="multipart/form-data" action="{% url 'add_expense' %}" method="POST">
      {% csrf_token %}
      <div class="container form-group">
        <div class="d-grid gap-2">
          
          <div class="input-group mb-2">
            <span class="input-group-text">Expense</span>
            <input
              type="text"
              class="form-control"
              name="expense"
              placeholder="e.g. Printer, Taxi, Stationary"
              aria-label="Expense"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="input-group mb-2">
            <span class="input-group-text">Date</span>
            <input 
              class="form-control" 
              id="date" 
              name="date" 
              placeholder="MM/DD/YYY" 
              aria-label="Date"
              type="text"/>
          </div>

          <div class="input-group mb-2">
            <span class="input-group-text">$</span>
            <input
              type="text"
              class="form-control"
              name="amount"
              placeholder="Amount"
              aria-label="Amount"
              inputmode="numeric"
            />
            <input type="checkbox" class="btn-check" id="gst" name='gst' aria-label="GST">
            <label class="btn btn-outline-primary" 
            for="gst">Includes GST?</label>
          </div>

          <div class="input-group mb-2">
            <span class="input-group-text">Notes</span>
            <textarea
              class="form-control"
              aria-label="With textarea"
              name="notes"
            ></textarea>
          </div>

            <div class="input-group mb-2">  
              <input
                type="file"
                class="form-control"
                name="image"
                placeholder="Image"
                accept="image/*;capture=camera"
              />
            </div>

            <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
        </div>
      </div>
    </form>

    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>

<script>
  $(document).ready(function(){
    var date_input=$('input[name="date"]'); //our date input has the name "date"
    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    var options={
      format: 'mm/dd/yyyy',
      container: container,
      todayHighlight: true,
      autoclose: true,
    };
    date_input.datepicker(options);
  })
</script>
</html>
